version: '3.8'

services:
  netkan:
    user: netkan
    build:
      context: ../netkan/.
      target: dev
    environment:
      SSH_KEY: ${CKAN_NETKAN_SSHKEY}
      CKANMETA_REMOTES: ${CKAN_METADATA_PATHS}
      CKAN_USER: ${CKAN_METADATA_USER}
      CKAN_REPOS: ${CKAN_METADATA_REPOS}
      NETKAN_REMOTES: ${NETKAN_METADATA_PATHS}
      AWS_DEFAULT_REGION: ${CKAN_AWS_DEFAULT_REGION}
      AWS_SECRET_ACCESS_KEY: ${CKAN_AWS_SECRET_ACCESS_KEY}
      AWS_ACCESS_KEY_ID: ${CKAN_AWS_ACCESS_KEY_ID}
      GH_Token: ${CKAN_GH_Token}
      SQS_TIMEOUT: 30
      STATUS_DB: DevNetKANStatus
      XKAN_GHSECRET: test
      INFLATION_QUEUES: ksp=InboundDevKsp.fifo ksp2=InboundDevKsp2.fifo
      MIRROR_SQS_QUEUE: MirroringDev.fifo
      STATUS_BUCKET: ckan-test-status
      STATUS_INTERVAL: 0
      DISCORD_WEBHOOK_ID: ${DISCORD_WEBHOOK_ID}
      DISCORD_WEBHOOK_TOKEN: ${DISCORD_WEBHOOK_TOKEN}
    volumes:
      - ../.:/home/netkan/workspace
    entrypoint: sleep infinity
